body{
    margin: 0 auto;
    padding: 0;
    background-color: #E5E5E5;
}

li.nav_item a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
        
}

:root {
    font-family: 'PT Sans', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202846;
    font-size: 24px;
    padding-left: 200px;

}

.nav{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    
}

li.nav_item{
    width: 170px;
    border-right: 2px solid white;
    padding: 1px 25px;
    align-items: center;
    padding-left: 20px;
    height: 55px;
    text-align: center;
    line-height: 30px;
    
    
  
}

body, ul{
    margin: 0;
    padding: 0;
}

.logo2 a {
    display: flex;
    text-align: center;
    align-items: center;
    padding-right: 20px;
    width: 170px;
    
}

.logo2 img {
    padding-right: 15px;
}

.logo{
    margin-right: 200px;
}

.under_header{
    height: 140px;
    background-color: #C6C6DC;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 130px;
    padding-left: 295px;
}

 /* Выбор места отдыха (навигвция) */
 #select {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: #BDBDC6;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-left: 10%;
    width: 1489px;
    height: 7%;
    text-align: center;
    cursor: pointer;
 }
 option {
    background-color: #E8E8E8;
 }
 option:hover {
    background-color: #BDBDC6;
 }

 .box{
     width: 1489px;
     margin-left: 10%;
     background-color: #BDBDC6;
     overflow: hidden;
     margin-top: 2%;
 }

 .foto{
     padding-top: 2%;
     padding-bottom: 2%;
     margin-left: 4%;
     display: inline-block;
     vertical-align: top;
 }

 .info {
    display: inline-block;
    width: 37%;
    margin-top: 2%;
    padding-left: 102px;
   
 }

 h2 {
    font-style: italic;
    color: #353C57;
    font-weight: 700;
    font-size: 32px;
    margin-top: 0%;
 }

 .description {
    text-align: center;
    background-color: #D7D7DD;
    color: #202846;
    padding: 4%;
    width: 712px;
    font-size: 22px;
    height: 152px;
 }

 hr {
    border: none; 
    color: white; 
    background-color: white; 
    height: 3px;
    width: 755px;
    margin-top: -28px;
    
 }

 .details1 {
    z-index: 1;
    position: absolute;
    background-color: #202846;
    width: 137px;
    color: white;
    display: inline-block;
    margin-left: 8%;
    margin-top: 12.5%;
    border-radius: 35px;
    text-align: center;
    padding: 1%;
 }
 .details2 {
    z-index: 1;
    position: absolute;
    background-color: #202846;
    width: 137px;
    color: white;
    display: inline-block;
    margin-left: 8%;
    margin-top: 12.5%;
    border-radius: 35px;
    text-align: center;
    padding: 1%;
 }

 .details3 {
    z-index: 1;
    position: absolute;
    background-color: #202846;
    width: 137px;
    color: white;
    display: inline-block;
    margin-left: 8%;
    margin-top: 12.5%;
    border-radius: 35px;
    text-align: center;
    padding: 1%;
 }

 .details4 {
    z-index: 1;
    position: absolute;
    background-color: #202846;
    width: 137px;
    color: white;
    display: inline-block;
    margin-left: 8%;
    margin-top: 12.5%;
    border-radius: 35px;
    text-align: center;
    padding: 1%;
 }

 .footer {
    font-style: italic;
    background-color: #202846;
    color: white;
    font-size: 36px;
    font-weight: 400;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    margin-top: 3%;
 }

 .star {
    display: inline-block;
    margin-left: 96%;
    vertical-align: top;
    margin-top: -19%;
    z-index: 5;
 }

 .star:hover path{
     fill: yellow;
 }